instancias/MDG-c_10_n3000_m400.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_9_n3000_m400.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_26_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_19_n3000_m600.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_1_n3000_m300.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_2_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_27_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_9_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_23_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_25_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_28_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_14_n3000_m500.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_8_n3000_m400.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_10_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_8_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_29_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_13_n3000_m500.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_7_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_21_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_24_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_15_n3000_m500.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_20_n3000_m600.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_3_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_5_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-c_2_n3000_m300.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_1_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_6_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_22_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-b_30_n2000_m200.txt filter=lfs diff=lfs merge=lfs -text
instancias/MDG-a_4_n500_m50.txt filter=lfs diff=lfs merge=lfs -text
